<h1>Editing Film</h1>

<%= form_for :film do |f| %>
    First name: <%= f.text_field :first_name %><br />
    Last name : <%= f.text_field :last_name %><br />
    Biography : <%= f.text_area :biography %><br />
    Admin?    : <%= f.check_box :admin %><br />
    <%= f.submit %>
<% end %>

<%= link_to 'Show', @film %> |
<%= link_to 'Back', films_path %>